.singleCol {
    max-width: 750px;
    margin: 0 auto;
}

.accordion-button {
    font-size: inherit;
}

.accordion-item {
    border: 1px solid rgba(224, 114, 215, 0.15);
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: rgb(52, 80, 172);
    color:#F0F8FF;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0%) invert(70%);
    color:#FF8C00;
}

.accordion-button:focus {
    box-shadow: inherit;
}