.singleCol {
    max-width: 750px;
    margin: 0 auto;
}

.accordion-button {
    font-size: inherit;
}

.accordion-item {
    border: 1px solid rgba(35, 65, 100, .15);
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: rgb(35, 65, 100);
    color: #e8e8e8;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0%) invert(70%);
}

.accordion-button:focus {
    box-shadow: inherit;
}